:root {
  --sea-blue: #00A1E0;
  --board-length: 0;
}

@font-face {
  font-family: 'Electrolize';
  src: url('./fonts/Electrolize-Regular.ttf');
}

@font-face {
  font-family: 'Tarrget';
  src: url('./fonts/TarrgetRegular-WEOz.otf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--sea-blue);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  font-size: 6rem;
  margin: 20px auto;
  font-family: 'Tarrget', sans-serif;
}

.footer {
  font-size: 1rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.game-message {
  font-size: 1rem;
  display: grid;
  place-content: center;
}

main {
  display: grid;
  place-items: center;  
}

/* Start */

.start {
  display: grid;
  grid-gap: 20px;
  font-size: 2rem;
  place-items: center;
  font-family: 'Electrolize', sans-serif;
}

.start form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.start input {
  height: 2.5rem;
  width: 15rem;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

.start input:hover, .start input:focus {
  outline: 1.5px solid black;
}

.start button {
  width: 16rem;
  height: 4rem;
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Electrolize', sans-serif;
  background-color: rgb(200, 200, 200);
}

.start button:hover {
  background-color: mediumseagreen;
  outline: 1.5px solid black;
}

/* Game */

.game {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  font-family: 'Electrolize', sans-serif;
}

.game-display {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
}

.game-message {
  font-size: 1rem;
}

.player-name {
  display: grid;
  place-content: center;
  font-size: 3rem;
}

.player-space {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.gameboard {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(var(--board-length), 1fr);
  grid-template-rows: repeat(var(--board-length), 1fr);
}

.square {
  border: 1px solid black;
  margin: -1px 0px 0px -1px;
}

.square.attacked.hit {
  background-color: red;
  opacity: 0.5;
}

.square.attacked {
  background:
  linear-gradient(to bottom right, 
   transparent calc(50% - 1px), black calc(50% - 1px), 
   black calc(50% + 1px), transparent calc(50% + 1px)),
  linear-gradient(to bottom left , 
   transparent calc(50% - 1px), black calc(50% - 1px), 
   black calc(50% + 1px), transparent calc(50% + 1px)),
  transparent;
}

.rotate {
  transform: rotate(90deg);
}